    body{
        background-image: url("../IMAGES/fond.jpg");
    }

    header {
        text-align: center;
    }
    header h1 {
        background-color: blue;
    }
    nav {
        background-color: #0000123;
    }
    ul {
        background-color: #ff8000;
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    li a {
        position: relative;
        display: block;
        padding: 16px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
    }
    li a:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: #183b75;
    }
    li ul {
        display: none;
    }
    li:hover ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin-left: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
        z-index: 1;
    }

    p{
        text-align: center;
        font-size: 30px;
    }

    #retro{
        justify-content: center;
        display: flex;
        border: 10px solid black;
    }

    h1,h2 {
        color: orange;
        text-align: center;
        text-shadow: 2px 2px 2px black;
